.form-area {
    margin-top: 80px;
    width: 100%;

    @media (max-width: 767px) {
        margin-top: 40px;
    } 

    fieldset {
        width:100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;

        @media(max-width: 1023px) {
            grid-gap: 20px;
        }

        @media(max-width: 850px) {
            grid-template-columns: 1fr 1fr;
        }

        @media(max-width: 560px) {
            grid-template-columns: 1fr;
        }        
    }

    .btn {
        margin: 40px auto 0;
        max-width: 370px;
        width: 100%;
    }
}