extends ./../includes/templates/landing/landing
block config
    - let params = meta.main



append fonts

prepend styles

append styles

append headScripts


block content
    include ./../includes/modules/header/header
    include ./../includes/modules/first-section/first-section
    include ./../includes/modules/dark-section/dark-section
    include ./../includes/modules/footer/footer


append scripts