section.section.section__dark
    .box-content
        h3!= 'Оформление <span>Заказа</span>'
        .section__desc Перед заполнением формы ознакомьтесь с нашей схемой работы!
        include ./../theme-list/theme-list
        include ./../form-elemets/form-area