$white: #fff;

$blue: #3E9CDC;
$blue-dark: #286690;

$black: #000;
$black-light: #272733;
$black-dark: #10101D;

$grey: #3D4050;
$grey-dark: #272733;
$grey-darkest: #2A2B30;
$grey-lighter: #6F6D7B;
$grey-light: #bbb;
$grey-lightest: #C3C3C3;



$primary-color: $black;
$secondary-color: $white;

$primary-blue: $blue;

$primary-grey: $grey-light;
$footer-list-grey: $grey-lightest;


$btn-text-primary: $white;
$btn-text-secondary: $grey-darkest;

$header-bg: $black-dark;
$scroll-bg: $grey;

$btn-border-primary: $white;
$btn-border-secondary: $grey-lighter;

$btn-bg-primary: $blue;
$btn-bg-secondary: $white;


$bg-primary: $grey-dark;
$bg-footer: $grey;




$primary-field-color: $grey-dark;
$field-bg-first: $white;

$select-active-bg: $grey;
$dropdown-active-bg: $black-light;

$field-border-first: $white;

$icn-border: $blue-dark;
$icn-bg: $blue;