footer.footer
    .box-content
        .footer__copy  &copy 2018 «LoremIpsum.net» Все права защищены.

        .footer__list
            .footer__list-item
                img(src="./img/svg/icn-qiwi.svg", alt="QIWI")
                span Qiwi wallet
            .footer__list-item
                img(src="./img/svg/icn-ym.svg", alt="Yandex Money")
                span Yandex Money
            .footer__list-item
                img(src="./img/svg/icn-wm.svg", alt="Web Money")
                span Web Money

        .footer__list
            .footer__list-item
                a(href="mailto:info@ipsum228.com")
                    img(src="./img/svg/icn-mail-blue.svg", alt="Написать нам")
                    span info@ipsum228.com
            .footer__list-item
                a(href="https://vk.com/")
                    img(src="./img/svg/icn-vk.svg", alt="Мы вконтакте")
                    span Мы вконтакте
