section.section.section__first
    .box-content
        .section__first-text
            h1!= '<span>Lorem ipsum</span> dolor sit amet consectetur <span>adipiscing</span>'

            .list__box
                h4 At vero eos et accusamus et iusto odio dignissimos ducimus!
                ul.list
                    li.list__item Totam rem aperiam eaque ipsa
                    li.list__item Sit voluptatem accusantium doloremque laudantium
                    li.list__item Sed ut perspiciatis, unde omnis iste natus error

            .btn__box
                span.btn.btn--blue заказать
                span.btn.btn--white подробнее